<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Emerging Citizens</title>
        <meta name="description" content="A suite of digital multiplayer games that teaches students how to critique and create civic media.">
        <meta name="author" content="Engagement Lab">

        {{!-- Load our CSS/docs --}}
        {{> css environment=env section=section gameType=gameType}}
    </head>
    
    <body class="body {{gameType}}">
          
       <div class="container">

          <div id="wrapper">

            <section id="loading-modal" class="modal">
              <div class="indicator"></div>
            </section>

            <section class="modal modal-wrapper" id="general">
            
            </section>

            <section class="modal modal-wrapper" id="code-modal">
              {{> shared/mission_code }}

            </section>

            <section id="overlay" class="modal">
            </section>

            <section id="error-disconnected" class="modal error-modal">
                <div id="text" class="col-sm-8 col-centered">
                  <h1>Uh oh!<br /> :(</h1>
                  <h2>There's some troubles connecting to the game's server or this game was ended. Please try refreshing!</h2>
                </div>
            </section>

            {{#ifnoteq viewType 'group'}}

              <section id="loading-modal" class="modal">
                <div class="indicator"></div>
              </section>

              {{!-- WIKIGEEKS 'time up' PLAYER MODAL --}}
              <section id="time-up" class="modal error-modal">
                <div class="indicator">
                  <h3>Time is up! First player to reach the destination article wins!</h3>
                  <button id="btn_ok" class="post-button submit hidden-el" type="button">okay, back to the game!</button>
                </div>
              </section>

            {{else}}

              <section id="error-modal" class="modal error-modal">
                  <div id="text" class="col-sm-12 col-centered">
                    <h1>Hmmm...</h1>
                    <h2 id="size">Looks like you are trying to start a new game, but your screen isn’t big enough! Try visiting this website on a larger screen or expanding your browser window. If you are looking to join a game, please visit ecplay.org on your personal device.</h2>
                    <h2 id="mobile">Looks like you are trying to start a new game, but you are on a mobile device or tablet! Try visiting this website on a desktop browser.</h2>
                    <h2 id="ended">Looks like the game ended because all of the players left. :(</h2>
                  </div>
              </section>
            {{/ifnoteq}}

            

            <div class="container-fluid" id="gameContent">

              <!-- BODY CONTENT START -->
              {{{body}}}


            </div>
                
          </div>

          {{#ifeq env "development"}}
              {{> script/development host=socketHost environment=env section=section subSection=sub_section}}
          {{else}}
              {{> script/production host=socketHost environment=env section=section}}
          {{/ifeq}}

      </div>
        
    </body>
</html>
