.timespan, .decade-block {
	width: 200px;
	height: 100px;
	border: 1px solid black;
	background: lighten($fb-blue, 10%);
	color: white;
}

#code-modal {
	height: 300px;
	width: 400px;
	background: white;
	text-align: center;
	color: $fb-darkgrey;
	margin: 0 auto;
	padding: 20px;

	input {
		border: solid $fb-darkgrey 1px;
	}

}

