
// Mission Selection

.platform {

	.nav-tabs {
		.nav-item a {
			color: $fb-grey;
			&:hover, &:active {
				background: $fb-grey;
				color: $fb-blue;
				border-radius: 0px;

			}
		}
		
	}

	.tab-content {
		padding-top: 20px;
	}
}
.timespan-wrap {
	margin: 40px auto;
}

.timespan, .decade-block {
	width: 200px;
	border: 1px solid black;
	background: lighten($fb-blue, 10%);
	color: white;
	display: inline-grid;
	margin: 10px;

	@include transition(all, 0.2s, ease-out);

}

.timespan {
	height: 100px;

	&:hover, &:focus, &:active {
		background: $fb-blue;
		cursor: pointer;
	}
}

.decade-block {

	height: 200px;
	grid-template-rows: 30px 170px;

	h3 {
		margin-top: 5px;
	}

	.profile-link {
		padding: 4px;
		&:hover, &:focus, &:active {
			background: $fb-blue;
			cursor: pointer;
		}
	}
}

#code-modal {
	height: 300px;
	width: 400px;
	background: white;
	text-align: center;
	color: $fb-darkgrey;
	margin: 0 auto;
	padding: 20px;

	input {
		border: solid $fb-darkgrey 1px;
	}
}

.login-wrap {
	height: 300px;
	width: 500px;
	background: white;
	margin: 0 auto;
	position: fixed;
}

.hashtag {
	display: inline;
}

.tag-btn {
	right: 0px;
}

.tag-options {
	// background: white;
	list-style-type: none;
	text-align:left;
	// position: absolute;
	// z-index: 1000000;
	// right: -40px;

	li {
		font-size: 14px;
		border: 2px solid $fb-blue;
		border-radius: 5px;
	    padding: 5px;
	    display: inline;

	    &:hover, &:focus, &:active {
			background: $fb-blue;
			color: white;
			cursor: pointer;
		}
	}
}

.base {
	max-width: 50%;
	margin: 0 auto;
}
.dashboard {
	height: 100%;
	display: grid;
	grid-template-rows: 25%;

	.row {
		margin: 0px;
	}

	.trending {
		border: 2px solid $fb-blue;

		.trending-event {
			display: block;
			text-align: left;
			padding-left: 10px;
			padding-right: 10px;

			img, h3 {
				display: inline;
				font-size: 14px;
			}

			p {
				display: block;
				font-size: 12px;
				padding-left: 40px;
				margin: 0px;

			}
		}
	}
}

.breakdown {
	// display: grid;
	// grid-template-columns: 25%;
	
	* {
		display:inline;
	}
	.bio {
		font-size: 14px;
		text-align: left;

	}
}
