<div class="modal code-wrapper">

	You've chosen to start the <span id="profile-name"></span> mission track!

	<input type="text" id="code-input" label="Class Code">

	<button id="start-game">Start</button>
</div>