<div class="base">

	<h3>Welcome, {{player.username}}!</h3>

	<p>Now playing as {{profile.name}}</p>

	<p>Remember, you are a spy and an informant, all in one. Tag articles to inform our database, and share them to keep your followers satisfied. If you share posts your alias ({{profile.name}}) wouldn't, or vice-versa your followers will get suspicious and you'll be eventually ousted. 

	<br>On the other hand, if you aren't doing a good job tagging posts properly, I'll have to find someone else for the job. Learn from your mistakes, and pay attention to the feedback the team sends you! 

	<br>Good luck.</p>
{{!-- 
	<div id="levels-wrapper">
	{{>game/levels}}
	</div> --}}

	<button class="btn submit" data-event="game:newRound" id="game-newRound">Let's Go!</button>
	{{!-- <button class="btn submit" id="rules-btn">Rules</button> --}}

</div>